@font-face {
    font-family: "Neue Helvetica Georgian";
    src: url("HelveticaNeueLTStd-Th.otf") format("opentype");
}

* {
    font-family: "Neue Helvetica Georgian";
    font-size:20px;
    outline:none;
    font-weight:1;
}

html, button, body{
    user-select:none;
}

table{
    table-layout: fixed;
    background-color: #202020;
    width:250px;
    height:310px;
    border:none;
    border-spacing:1px;
    cursor:pointer;
}

tbody{
    border:none;
}

td{
  width:25%;
}

td:active{
    background-color:rgb(229, 229, 229);
}

tr{
  text-align:center;
  background-color:rgb(243, 243, 243);
  border:none;
  height:20%;
}

#inputField{
    width:250px;
    height: 110px;
    background-color:#202020;
    color:white;
    font-size:50px;
    text-align: right;
    padding-right:10px;
    padding-top:40px;
    border:none;
    cursor:text;
    user-select: all;
}

#inputField::placeholder{
    color:default;
}

.operacolors{
    background-color:rgb(223, 132, 13);
    color:white;
    font-size:30px;
    border-color:#131313;
    border-width: 0px;
    border-style:solid;
    padding-bottom:5px;
}

.operacolors:active{
    background-color:rgb(216, 129, 15);
    color:white;
}

.numbers{
    font-size:27px;
}

.upper{
    background-color:rgb(226, 226, 226);
    font-size:17px;
}

.upper:active{
    background-color:rgb(212, 212, 212);;
}

.zero{
    text-align:left;
    padding-left:25px;
}

#ipod{
    position:absolute;
    top:9px;
    left:12px;
    word-spacing:98px;
    font-size:8px;
    color:white;
}

#time{
    font-size:8px;
}